.container {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1.375rem;
    font-weight: 500;
}

.description {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0rem;
    margin-top: 0.625rem;
}

.checkBoxContainer {
    display: flex;
    align-self: flex-end;
}

.intentsContainer {
    display: flex;
    overflow-y: auto;
    width: 100%;
}

.intents {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.content {
    display: flex;
    width: 80%;
    padding-top: 1.25rem;
    overflow: auto; 
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .checkBoxContainer {
        align-self: center;
    }
    .title {
        font-size: 0.625rem;
    }
    .description {
        font-size: 0.625rem;
        display: none;
    }
}